html,body {
	/*font-family: 'Raleway', sans-serif;*/
}
.google-map {
	padding-top: 80px;
	padding-left: 30px;
    padding-right: 30px;	
}

.contact-info {
	font: 14px 'Open Sans', sans-serif;
	background-color: #F2EFEB;
	height:400px;
	padding: 30px;
	font-size: 15px;
}
img.call-icon {
	height:60px;
	width: 60px;
}
.row-margin-20 {
	margin-top: 20px;
}